{% extends "main_cosmos/base.html" %}



{% block content %}


<div class="container">
  <br>
  <div class="card" id="backdrop">
    <div class="card-body">
      <div class="row">
        {% for show in medias %}
        <div class="col-md-4">
          <div class="card" id="cardback">
            <div class="card-body">
              <div class="text-center">
              <img src="{{ show.image }}" alt="" class="img-fluid" width="75%">
              <h5 class="text-center" style="color: beige">{{ show.name}}</h5>
              
              <i class="text-center" style="color: beige">{{ show.year_of_Release}} </i>
              <a href="{% url 'main_cosmos:detail' show.id %}">More Info</a>
            </div>
            
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


  
{% endblock %}

